In [89]:
import numpy as np
# Load the Pandas libraries with alias 'pd'
import pandas as pd

# Read data from file 'filename.csv'
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later)
data = pd.read_csv('gcoos_2019-10-30.csv') 
# Preview the first 5 lines of the loaded data.'
data

,owner,platform,lat,lon,observationDate,depth,DO,qcFlag
0,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:00:00Z,2.162,8.24,11111222.0
1,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:15:00Z,2.172,8.31,11111222.0
2,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:30:00Z,2.179,8.29,11111222.0
3,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:45:00Z,2.190,8.38,11111222.0
4,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T01:00:00Z,2.208,8.35,11111222.0
5,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T01:15:00Z,2.220,8.37,11111222.0
6,DISCLAIMER: The Gulf of Mexico Coastal and Oce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
data.drop(index = 6)

,owner,platform,lat,lon,observationDate,depth,DO,qcFlag
0,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:00:00Z,2.162,8.24,11111222.0
1,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:15:00Z,2.172,8.31,11111222.0
2,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:30:00Z,2.179,8.29,11111222.0
3,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:45:00Z,2.190,8.38,11111222.0
4,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T01:00:00Z,2.208,8.35,11111222.0
5,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T01:15:00Z,2.220,8.37,11111222.0

In [99]:
for ii in range(len(data.index)-1):
    print(ii)

0
1
2
3
4
5

In [106]:
names = {
        0: 'timing/gap test',
        1: 'syntax test',
        2: 'location test',
        3: 'gross range test',
        4: 'climatology test',
        5: 'spike test',
        6: 'rate of change test',
        7: 'flatline test',
    }
for index in range(len(data.index)-1):
    print(index)
    if value:
        name = names.get(index)
        mask = 2**index
        item = str(data['qcFlag '].values[index])
        qc_result = [value for index_i, value in enumerate(item) if index_i == index ]
        print(index_i, name, qc_result)
        data[name] = qc_result[0]

0
9 timing/gap test ['1']
1
9 syntax test ['1']
2
9 location test ['1']
3
9 gross range test ['1']
4
9 climatology test ['1']
5
9 spike test ['2']

In [107]:
data

,owner,platform,lat,lon,observationDate,depth,DO,qcFlag,timing/gap test,syntax test,location test,gross range test,climatology test,spike test
0,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:00:00Z,2.162,8.24,11111222.0,1,1,1,1,1,2
1,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:15:00Z,2.172,8.31,11111222.0,1,1,1,1,1,2
2,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:30:00Z,2.179,8.29,11111222.0,1,1,1,1,1,2
3,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T00:45:00Z,2.190,8.38,11111222.0,1,1,1,1,1,2
4,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T01:00:00Z,2.208,8.35,11111222.0,1,1,1,1,1,2
5,LUMCON,LUML1,29.2533,-90.6633,2019-10-30T01:15:00Z,2.220,8.37,11111222.0,1,1,1,1,1,2
6,DISCLAIMER: The Gulf of Mexico Coastal and Oce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,2

In [83]:

index = 5
item = str(data['qcFlag '].values[index])
for index_i, value in enumerate(item): 
    if index_i == index:
        print(value)

2

In [31]:
def parse_qc(dataframe):
    names = {
        0: 'timing/gap test',
        1: 'syntax test',
        2: 'location test',
        3: 'gross range test',
        4: 'climatology test',
        5: 'spike test',
        6: 'rate of change test',
        7: 'flatline test',
    }
    # Just in case a different set of tests were run on some datapoint
    # *this should never happen*
    for index, value in enumerate(data['qcFlag '].values):
        if value:
            name = names.get(index)
            mask = 2**index
            values = (data['qcFlag '].values & mask) > 0

In [32]:
parse_qc(data)

TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''